// font
$font-main: "Raleway", sans-serif;
$font-color-main: black;
$font-size-small: 1.5rem;
$font-size-regular: 1.7rem;
$font-size-bigish: 2rem;

// radio buttons
$uncheckedRadio: #f4f4f4;
$checkedRadio: black;

$transparent-background: rgba(255, 255, 255, 0.9);
$black-line: solid 2px rgba(0, 0, 0, 0.4);
// $steps-color: rgba(0, 0, 0, 0.5);
$steps-color: rgb(109, 109, 109);

$component-width: 37rem;
$summary-width: 40rem;

.test {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}
