.the-button {
  margin: 0;
  padding: 0.7rem 4rem;
  border: none;
  background: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 3%;
  text-decoration: none;
  color: white;
  font-size: $font-size-regular;
  font-weight: bold;
  letter-spacing: 2px;
}

.the-button:hover {
  background: none;
  color: #3e4257;
}

.next {
  text-align: center;
  margin-top: 2rem;
}
