.dashboard-page {
  height: 100%;
}

.dashboard-header {
  padding: 4rem 0;
  margin-bottom: 2rem;
}

.dashboard-table {
  margin: auto;
  width: 90%;
}

.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 14px;
}

.dashboard-header {
  display: flex;
  justify-content: space-around;
}
