.home-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 100%;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
