.personal-page {
  width: 100%;
  height: 55rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: $summary-width;
}

.personal-form {
  input[type="text"],
  input[type="email"] {
    font-family: $font-main;
    font-size: $font-size-regular;
    appearance: none;
    text-decoration: none;
    margin: 1rem 0;
    width: 100%;
    height: 4rem;
    background: rgba(255, 255, 255, 0.025);
    border-radius: 5px;
    border: $black-line;
    padding-inline: 0.7rem;
  }
}

.personal-email-input {
  margin-bottom: 4rem !important;
}

.radio-box {
  text-align: center;
  margin: 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
}

.radio {
  margin: 0.5rem;
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: "";
        background: $uncheckedRadio;
        border-radius: 100%;
        border: 1px solid darken($uncheckedRadio, 25%);
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        position: relative;
        top: -0.2em;
        margin-right: 1em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: $checkedRadio;
          box-shadow: inset 0 0 0 4px $uncheckedRadio;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $checkedRadio;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px $uncheckedRadio;
          border-color: darken($uncheckedRadio, 25%);
          background: darken($uncheckedRadio, 25%);
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}
