.personal-d {
  width: $component-width;
}

.radio-box {
  text-align: center;
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
}

// .radio p {
//   margin: 1rem 0;
// }

// .radio-b {
//   width: 3rem;
// }

.radio {
  margin: 0.5rem;
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: "";
        background: $uncheckedRadio;
        border-radius: 100%;
        border: 1px solid darken($uncheckedRadio, 25%);
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        position: relative;
        top: -0.2em;
        margin-right: 1em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: $checkedRadio;
          box-shadow: inset 0 0 0 4px $uncheckedRadio;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $checkedRadio;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px $uncheckedRadio;
          border-color: darken($uncheckedRadio, 25%);
          background: darken($uncheckedRadio, 25%);
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}
