.options-container {
  margin-bottom: 4rem;
}

.question-container {
  margin: 5rem 0;
}

select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  background-color: transparent;
  border: none;
  // padding: 0 1em 0 0;
  height: 36px;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  //   line-height: inherit;

  // Stack above custom arrow
  z-index: 1;

  // Remove dropdown arrow in IE10 & IE11
  // @link https://www.filamentgroup.com/lab/select-css.html
  &::-ms-expand {
    display: none;
  }

  // Remove focus outline, will add on alternate element
  outline: none;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  margin: 1rem 0;

  select,
  &::after {
    grid-area: select;
  }

  min-width: 15ch;
  // max-width: 30ch;

  border: $black-line;
  border-radius: 5px;
  padding: 0 0.5em;

  font-size: $font-size-regular;
  cursor: pointer;
  line-height: 1.1;

  // Optional styles
  // remove for transparency
  background: rgba(255, 255, 255, 0.025);
  //   background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

  // Custom arrow
  &:not(.select--multiple)::after {
    content: "";
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    background-color: #777;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }
}

// Interim solution until :focus-within has better support
select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: $black-line;
  border-radius: inherit;
}

.survey {
  width: 37rem;
}

.survey-txt {
  margin-top: 2rem;
  margin-bottom: 0.7rem;
}
